
ActionFramework/.vs/ActionFramework/v15/.suo
ActionFramework/.vs/ActionFramework/v15/.suo
ActionFramework/ActionFramework.Test/bin/Debug/ActionFramework.Test.dll
ActionFramework/ActionFramework.Test/bin/Debug/ActionFramework.Test.dll.config
ActionFramework/ActionFramework.Test/bin/Debug/ActionFramework.Test.pdb
ActionFramework/ActionFramework.Test/obj/Debug/ActionFramework.Test.csproj.FileListAbsolute.txt
ActionFramework/ActionFramework.Test/obj/Debug/ActionFramework.Test.csprojResolveAssemblyReference.cache
ActionFramework/ActionFramework.Test/obj/Debug/ActionFramework.Test.dll
ActionFramework/ActionFramework.Test/obj/Debug/ActionFramework.Test.pdb
ActionFramework/ActionFramework.Test/obj/Debug/CoreCompileInputs.cache
ActionFramework/ActionFramework.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ActionFramework/ActionFramework.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ActionFramework/ActionFramework.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ActionFramework/.vs/ActionFramework/v15/.suo
ActionFramework/.vs/ActionFramework/v15/.suo
ActionFramework/.vs/ActionFramework/v15/.suo
ActionFramework/ActionFramework.Test/bin/Debug/ActionFramework.dll
ActionFramework/ActionFramework.Test/bin/Debug/ActionFramework.pdb
ActionFramework/ActionFramework.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ActionFramework/ActionFramework/bin/Debug/ActionFramework.dll
ActionFramework/ActionFramework/bin/Debug/ActionFramework.pdb
ActionFramework/ActionFramework/obj/Debug/ActionFramework.csproj.FileListAbsolute.txt
ActionFramework/ActionFramework/obj/Debug/ActionFramework.csprojResolveAssemblyReference.cache
ActionFramework/ActionFramework/obj/Debug/ActionFramework.dll
ActionFramework/ActionFramework/obj/Debug/ActionFramework.pdb
ActionFramework/ActionFramework/obj/Debug/CoreCompileInputs.cache
ActionFramework/ActionFramework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ActionFramework/ActionFramework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ActionFramework/ActionFramework/obj/Debug/ActionFramework.csproj.FileListAbsolute.txt
